:root{
    --button-size: 200px;
}

body{
    background-color: gainsboro;
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
}

.header{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
}

.button{
    border-radius: 50%;
    width: var(--button-size);
    height: var(--button-size);
    cursor: pointer;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

.reset-button{
    width: calc(var(--button-size) / 2);
    height: calc(var(--button-size) / 2);
}

.button-div{
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.result{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.results-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.score-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

@media only screen and (max-width: 650px){
    .button-div{
        flex-direction: column;
    }
    
}